.THIS.box {
    
    width:400px;
    height:400px;
    margin-left:50px;
    margin-top:10px;
	border:2px solid grey;
	padding:30px;    
      
}

.THIS.boxtwo{
    
    width:400px;
    height:400px;
    margin-left:50px;
    margin-top:10px;
	border:2px solid grey;
	padding:30px;    
      
}